html, body {
    color: #65676F; /* dark bluish grey */
    text-align: center;
    font-family: Oswald;
}

h1,h2,h3,h4,h5 {
    font-family: 'Vibur', cursive;
    font-style: italic;
    color: #996633; /* kraft paper brown */
}

a {
    color: #5f7d99; /* slate grey */
    text-decoration: none;
}

a:visited {
    color: #b0c9d2; /* pastel blue */
}

a:hover {
    color: #111;
    text-decoration: underline;
}

.logo img {
    height: 275px;
    width: 77%;
}

.title {
    padding-top: 10px;
}

.rsvp {
    padding: 10px 0px;
}

.shaded {
    background-color: #e9e8e6; /* white lilac */
}
