html, body {
    color: #65676F; /* dark bluish grey */
    background-color: rgba(135, 155, 175, 0.3);
    text-align: center;
    font-family: Oswald;
}

h1,h2,h3,h4,h5 {
    font-family: 'Vibur', cursive;
    font-style: italic;
    color: #996633; /* kraft paper brown */
}

a {
    color: #5f7d99; /* slate grey */
    text-decoration: none;
}

a:visited {
    color: #5f7d99; /* slate grey */
}

a:hover {
    color: #111;
    text-decoration: underline;
}

.logo img {
    max-height: 500px;
    padding-bottom: 20px;
}

.title {
    padding-top: 10px;
}

.rsvp {
    padding: 10px 0px;
}

.shaded {
    background-color: #e9e8e6; /* white lilac */
}

.registry img {
    max-height: 100px;
}
