<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("{{ .Site.Params.countdown }}").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        var daysText = (days === 1 ? "day" : "days");
        var hoursText = (hours === 1 ? "hour" : "hours");
        var minutesText = (minutes === 1 ? "minute" : "minutes");
        var secondsText = (seconds === 1 ? "second" : "seconds");

        // If the count down is finished, don't display anything
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "";
        } else {
            // Display the result in the element with id="countdown"
            document.getElementById("countdown").innerHTML = `${days} ${daysText}, ${hours} ${hoursText}, ${minutes} ${minutesText} and ${seconds} ${secondsText}`;
        }
    }, 1000);
</script>
