<!DOCTYPE HTML>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    <!-- Logo -->
    <div class="container-fluid logo">
      <img src="{{ .Site.Params.logo.image }}" />
    </div>

    <!-- Title -->
    <div class="container title">
      {{ partial "header.html" . }}
    </div>

    <div class="container rsvp">
        <a class="btn btn-outline-secondary btn-lg" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DgPjnWinL0OhooidT_9RBPCigwjwfnhDk8zK0GKgpp1UQTJBSjFWNURNRTgzUjZTTUZNQVNCVjNFNS4u" role="button">RSVP Here</a>
    </div>

    <div class="container">
      <h2>When</h2>
      <p>{{ .Site.Params.countdownHuman }}</p>
      <p id="countdown"></p>
    </div>

    <div class="container">
      <h2>Where</h2>
      <p><a href="http://birdseyecovefarm.com/">Bird's Eye Cove Farm</a></p>
      <p><a href="https://goo.gl/maps/wh98phFp7sn">5881 Genoa Bay Rd, Duncan, BC V9L 5Y6</a></p>
    </div>

    <div class="container">
      <h2>Hotel Information</h2>
      <p>We have booked 30 rooms for guests to reserve for the wedding: 20 with two Queen beds and 10 with King beds.</p>
      <p>The group rate is reserved under Brandy Roenicke. Please let reception know that you are booking it for Brandy & Matt's wedding.</p>
      <p>Check-in Time: 4:00PM</p>
      <p>The rate is $145 + tax for 4 people per room. Additional guests will cost $10 per guest</p>
      <p><a href="http://www.bestwesternvancouverisland.com/hotel-in-duncan-bc">Best Western Cowichan Valley Inn</a></p>
      <p><a href="https://goo.gl/maps/bo3MWMny8zN2">6457 Norcross Rd, Duncan, BC V9L 6C6</a></p>
      <p><a href="tel:1-250-748-2722">+1 (250) 748-2722</a></p>
    </div>

    <!-- Quote -->
    <div class="container registry">
      <h2>Registry</h2>
      <p>As many of you know, we’ve lived together for several years, and our house is already filled with all the things we could ever need to make it a home.</p>
      <p>While the presence of your company is the only gift we could ever ask for, a registry has been set up here for those who have expressed an interest in offering a gift to mark the occasion.</p>
      <p>Please click the logos below to see the registries.</p>
      <a href="http://www.heathceramics.com/apps/giftregistry/registry/69201?shared_url=true"><img src="assets/img/heath-logo.png" alt="Heath Ceramics Registry" /></a>
      <a href="https://sokindregistry.org/registry/fishroe2019"><img src="assets/img/sokind-logo.jpg" /></a>
    </div>

    {{ partial "scripts.html" . }}
  </body>
</html>
